In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from pydataset import data

1. `Attendance Data`

- Load the attendance.csv file and calculate an attendnace percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

In [4]:
attendance = pd.read_csv('untidy-data/attendance.csv')
attendance

,Unnamed: 0,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [8]:
attendance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4 non-null      object
 1   2018-01-01  4 non-null      object
 2   2018-01-02  4 non-null      object
 3   2018-01-03  4 non-null      object
 4   2018-01-04  4 non-null      object
 5   2018-01-05  4 non-null      object
 6   2018-01-06  4 non-null      object
 7   2018-01-07  4 non-null      object
 8   2018-01-08  4 non-null      object
dtypes: object(9)
memory usage: 416.0+ bytes

In [14]:
attendance = attendance.rename(columns={'Unnamed: 0': 'student'})

In [15]:
attendance.head()

,student,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [28]:
#function for attendance grades
def attendance_grade(letter):
    if letter == 'P':
        return 1
    elif letter == 'A':
        return 0
    elif letter == 'T':
        return 0.9
    elif letter == 'H':
        return 0.5

In [30]:
# One half day is worth 50% of a full day, and 10 tardies is equal to one absence.
a_grades = { 'P' : 1, 'A' : 0, 'H': 0.5, 'T': 0.9 }
attendance = attendance.melt(id_vars='student', var_name='date')
attendance['a_grades'] = attendance.value.apply(attendance_grade)
attendance.groupby('student').a_grades.mean()

<ipython-input-30-a26fac49c9f6>:3: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resultiing Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  attendance = attendance.melt(id_vars='student', var_name='date')

student
Billy    0.5250
Jane     0.6875
John     0.9125
Sally    0.7625
Name: a_grades, dtype: float64

<ipython-input-21-5e015d6a7a2b>:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resultiing Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  attendance = attendance.melt(id_vars='student', var_name='date')

TypeError: 'int' object is not callable

In [ ]:
pd.melt(df, id_vars= )

2. `Coffee Levels`

   a. Read the `coffee_levels.csv` file.
   
   b. Transform the data so that each carafe is in it's own column.
   
   c. Is this the best shape for the data?

3. `Cake Recipes`

    a. Read the `cake_recipes.csv` data. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.
    
    b. Tidy the data as necessary.
    
    c. Which recipe, on average, is the best? recipe b
    
    d. Which oven temperature, on average, produces the best results? 275
   
   e. Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees